body {
    font-family: 'Kalam', cursive !important;
}

/* Ocultar el cursor en toda la aplicación */
* {
    cursor: none !important;
}

/* Asegurarse de que los elementos interactivos también oculten el cursor */
a,
button,
input,
select,
textarea {
    cursor: none !important;
}

.hover-dark:hover {
    color: rgb(94 234 212/1);
}

.hover-light:hover {
    color: rgb(68, 151, 68);
}

.text-important-dark {
    color: rgb(94 234 212/1);
}

.text-important-light {
    color: rgb(68, 151, 68);
}